.calculator-container{
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr);
    background-color: gray;
    position: absolute;
    margin-top: 15vh;
    margin-left: 35vw;
    width: 30vw;
    height: 60vh;
}
.cal-display{
    grid-column: 1 / 7;
    background-color: white;
    margin: 1em;
    text-align: right;
}
.numPad{
    grid-column: 3/6;
    grid-row: 3/7;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
}
.button{
    background-color: white;
    margin: 1em;
    text-align: center;
}
.degButton{
    background-color: orange;
}
#button0{
    grid-column: 1/3;
}